flows (4).json
[{"id":"6d41af1a.90954","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c79e747d.91cd18","type":"inject","z":"6d41af1a.90954","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["328ab66e.a06b0a"]]},{"id":"328ab66e.a06b0a","type":"function","z":"6d41af1a.90954","name":"","func":"msg.payload = { value: msg.payload, 'fc': 3, \n'unitid': 0, \n'address': 0 , \n'quantity': 10 }  \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":280,"wires":[["a93b4a5b.bb8f18"]]},{"id":"a93b4a5b.bb8f18","type":"modbus-flex-getter","z":"6d41af1a.90954","name":"Read rvg200","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"906f13a2.6f817","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":350,"y":340,"wires":[["9252f78e.2f6448"],["79d1f5e2.00c24c"]]},{"id":"1604be57.d1a812","type":"debug","z":"6d41af1a.90954","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"79d1f5e2.00c24c","type":"modbus-response","z":"6d41af1a.90954","name":"","registerShowMax":20,"x":550,"y":440,"wires":[]},{"id":"9252f78e.2f6448","type":"function","z":"6d41af1a.90954","name":"function to float","func":"// Create a buffer\nvar buf = new ArrayBuffer(4);\n// Create a 16-bit int view of it\nvar ints = new Uint16Array(buf);\n// Fill in the values\n/*\nints[0] = 59759;\nints[1] = 17142;\n*/\n/*\nints[1] = 16823;\nints[0] = 40633;\n*/\n\nvar data = msg.values;\nints[1]= msg.responseBuffer.data[4];\nints[0]= msg.responseBuffer.data[5];\n/*\n\ndata.forEach(function(b,i) {\n    ints[i]=b;\n});*/\n// Create a 32-bit float view of it\nvar floats = new Float32Array(buf);\n// Read the bits as a float; note that by doing this, we're implicitly\n// converting it from a 32-bit float into JavaScript's native 64-bit double\n//var num = floats[0];\n// Done\n//console.log(num);\n\nmsg.result= floats[0];\n//msg.data1=x;\n\n// https://stackoverflow.com/questions/40970739/how-to-convert-two-16bit-integer-high-word-low-word-into-32bit-float\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["9b1c7be2.32d478","1604be57.d1a812"]]},{"id":"9b1c7be2.32d478","type":"ui_text","z":"6d41af1a.90954","group":"3f12557b.7098ba","order":1,"width":"4","height":"2","name":"Temp","label":"Temp","format":"{{msg.result}}","layout":"col-center","x":730,"y":260,"wires":[]},{"id":"906f13a2.6f817","type":"modbus-client","name":"RVG200","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.47","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"3f12557b.7098ba","type":"ui_group","name":"Machine9","tab":"bb57dc20.d8cec","order":3,"disp":true,"width":"6","collapse":false},{"id":"bb57dc20.d8cec","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]